<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: 16px;
        }

        h1 {
            font-size: 24px;
            margin-top: 0;
        }

        p {
            margin-bottom: 1rem;
        }

        .container {
            width: 600px;
            margin: 0 auto;
        }

        .button {
            background-color: #008CBA;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #0069B4;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Recuperación de contraseña {{customerEmail}}</h1>
    <p>
        Hola, <b>{{ customerName }}</b>,
    </p>
    <p>
        Tu nueva contraseña es : {{newPassword}}
    </p>
    <p>
        <a href="{{loginLink}}" class="button">Restablecer contraseña</a>
    </p>
    <p>
        Si no solicitaste esta recuperación, por favor ignora este correo electrónico.
    </p>
</div>
</body>
</html>
